.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.item-list {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image {
    grid-area: image;
    width: 40%;
    height: auto;
}

.title {
    grid-area: title;
}

.count {
    grid-area: count;
}

.count::before {
    content: "Items: ";
}

.total-price {
    grid-area: total-price;
}

.total-price::before {
    content: "Total: $ ";
}

.btn-wrapper {
    grid-area: edit-btns;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.item-checkbox {
    grid-area: item-checkbox;    
}

.checkout-btn {
    padding: 0.6rem 1rem;
    border-radius: 1rem;

    background: var(--third-color);
    position: fixed;
    right: 10%;
    z-index: 3;
}
.checkout-btn:hover {
    background: green;
}

.cart-item {
    display: grid;
    grid-template-columns: 1.5rem repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "item-checkbox image title count edit-btns"
        "item-checkbox image title total-price edit-btns";
    align-items: center;
    justify-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;

    background: gray;
}
