
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}

.image-wrapper {
    background: url("../assets/images/clothes-clothing-store.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: max(400px, 50vh);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}

.image-text {
    font-size: 2rem;
    color: black;
    background-color: darkgray;
    opacity: .8;
    padding: 1rem;
}

.btn {
    background: black;
    color: white;
    padding: 1rem;
    border: white 4px solid;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.btn:hover {
    background: white;
    color: orange;
    padding: 1rem;
    font-size: 16px;
}

.category-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.clothes-image {
    max-height: 200px;
    width: auto;
    border-radius: 50%;
}
