
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    gap: 1rem;
}

.image-wrapper {
    background: url("../assets/images/clothes-clothing-store.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    height: max(400px, 50vh);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}

.image-text {
    font-size: 2rem;
    color: black;
    background-color: darkgray;
    opacity: .8;
    padding: 1rem;
}

.btn {
    background: black;
    color: white;
    padding: 1rem;
    border: white 4px solid;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.btn:hover {
    background: white;
    color: orange;
    padding: 1rem;
    font-size: 16px;
}

.category-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.clothes-image {
    max-height: 200px;
    width: auto;
    border-radius: 50%;
}

.clothes-category-name {
    text-align: center;
    font-weight: bold;
}

.canvas {
    display: grid;
    grid-template-rows: repeat(2, minmax(300px, 1fr));
    grid-template-columns: repeat(3, 300px);
}

.canva {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.canva:hover {
    opacity: 0.6;
}

.canva-title {
    background: black;
    font-size: 1.5 rem;
    font-weight: bold;
    padding: 1rem;
    border-right: solid 2px lightgray;
}

#airport-outfit {
    grid-area: 1 / 1 / span 1 / span 3;
}

p {
    font-size: 2rem;
    font-weight: bold;
}
